$light-blue: #12a4e0;
$navbar-inverse-bg: $light-blue;
$navbar-inverse-link-color: #FFF;
$icon-font-path: "../fonts/bootstrap/";


@import "stylesheets/bootstrap";
@import "datepicker";

body {
	padding-top: 70px;
}

.container[role="main"] {
	margin-bottom: 60px;
}

// Utils
ul.no-bullet {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.required {
	label:first-child:after { 
		content:" *";
		color: red; 
	}
	.checkbox label:first-child:after {
		content:"";
	}
}

.add-top {
	margin-top: 20px;
}

.add-bottom {
	margin-bottom: 20px;
}

.dark-bg {
	background-color: #292929;
	color: #FFF;
}

.admin-header {
	background-color: $gray-darker;
	padding: 20px 0;
	margin-bottom: 40px;
}

footer {
	padding: 40px 0;
}

.full-width {
	float: left;
	width: 100%;
}

// Hidden elements for alerts 
.hidden-message, .hidden-control, .admin-control, .sign-up-optional, .dev-footer {
	display: none;
}

.logged-in {
	display: block;
	&.btn {
		display: inline-block;
	}
}

// Typography
.super-size > * {
	@extend .lead;
}

// Jobs list
.job-item {
	border-top: 1px solid $gray-lighter;
}

// Control bar
.control {
	&.pull-left {
		margin-right: 20px;
	}
	&.pull-right {
		margin-left: 20px;
	}
}

.control-search {
	width: 230px;
}

// LISTS
.saved {
	opacity: 0.5;
}

// Log in box
.login-box {
	margin-top: 50px;
	.panel-body {
		padding-top: 30px;
	}
	.input-group {
		//margin-bottom: 25px;
	}
}

.panel-title-link {
	float:right; 
	font-size: 80%; 
	position: relative; 
	top:-10px;
}

// DEV dev-notes
.dev-footer {
	background-color: $state-info-bg;
	p {
		color: $state-info-text;
	}
}