$light-blue: #12a4e0;
$gold: #E5C100;
// $navbar-inverse-bg: lighten(#000, 13.5%) !default;
// $navbar-inverse-link-color: #FFF;
$icon-font-path: "../fonts/bootstrap/";


@import "stylesheets/bootstrap";
@import "datepicker";

body {
	padding-top: 70px;
	padding-bottom: 50px;
}

.container[role="main"] {
	margin-bottom: 60px;
}

// Navbars 
.admin-navbar {
	background-color: $gray;
	margin-bottom: 0;
}

// Utils
ul.no-bullet {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.required {
	label:first-child:after { 
		content:" *";
		color: red; 
	}
	.checkbox label:first-child:after {
		content:"";
	}
}

.add-top {
	margin-top: 20px;
}

.add-bottom {
	margin-bottom: 20px;
}

.dark-bg {
	background-color: $gray-dark;
	color: #FFF;
	a {
		color: #FFF;
	}
}

.admin-header {
	background-color: $gray-darker;
	padding: 20px 0;
	margin-bottom: 40px;
}

footer {
	padding: 40px 0;
	&.main-footer {
		padding: 40px 0 80px;
	}
}

.full-width {
	float: left;
	width: 100%;
}

// Hidden elements for alerts 
.hidden-message,
.hidden-control, 
.admin-control, 
.recruiter-control, 
.job_seeker-control,
.sign-up-optional, 
.dev-footer, 
.state--logged-in {
	display: none;
	.nav & {
		display: none;
	}
}

.logged-in {
	display: block;
	&.btn {
		display: inline-block;
	}
}

// Typography
.super-size > * {
	@extend .lead;
}

// Jobs list
.job-item {
	border-top: 1px solid $gray-lighter;
}

// Control bar
.control {
	&.pull-left {
		margin-right: 20px;
	}
	&.pull-right {
		margin-left: 20px;
	}
	margin-bottom: 5px;
}

.control-search {
	width: 230px;
}

.form-control {
	height: 33px;
}

// LISTS
.saved {
	opacity: 0.5;
}

// Log in box
.login-box {
	margin-top: 50px;
	.panel-body {
		padding-top: 30px;
	}
	.input-group {
		//margin-bottom: 25px;
	}
}

.panel-title-link {
	float:right; 
	font-size: 80%; 
	position: relative; 
	top:-10px;
}

// DEV dev-notes
.dev-footer {
	background-color: $state-info-bg;
	p {
		color: $state-info-text;
	}
}

// icons
.glyphicon-ok, .glyphicon-flag {
	color: #ccc;
}

.glyphicon-ok.active {
	color: $brand-success;
}

.glyphicon-flag.active {
	color: $gold;
}