$light-blue: #12a4e0;
$navbar-inverse-bg: $light-blue;
$navbar-inverse-link-color: #FFF;


@import "bootstrap";

body {
	padding-top: 70px;
}

// Utils
ul.no-bullet {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.add-top {
	margin-top: 20px;
}

.add-bottom {
	margin-bottom: 20px;
}

.dark-bg {
	background-color: #292929;
	color: #FFF;
}

.admin-header {
	background-color: $gray-darker;
	padding: 20px 0;
	margin-bottom: 40px;
}

.admin-footer {
	padding: 40px 0;
	margin-top: 60px;
}

.full-width {
	float: left;
	width: 100%;
}

// Jobs list
.job-item {
	border-top: 1px solid $gray-lighter;
}

