<div class="pull-right account-status hidden-control recruiter-control populate" data-populate="recruiter">
	<p><small>You are signed in as <span data-id="fullName"></span> | <a href="recruiter-account-edit.html?logged-in=recruiter">View account</a></small></p>
</div>

<div class="pull-right account-status hidden-control admin-control">
	<p><small>You are signed in as admin</small></p>
</div>

<div class="pull-right account-status hidden-control job_seeker-control populate" data-populate="job_seeker">
	<p><small>You are signed in as <span data-id="fullName"></span> | <a href="job-seeker-account-edit.html?logged-in=job_seeker">View account</a></small></p>
</div>