			<fieldset class="form-horizontal add-bottom state--logged-out">
				<legend>Password</legend>
	        	<div class="form-group">
					<div class="col-sm-12">
						<label for="password">Password</label>
						<input type="text" class="form-control" id="password" placeholder="" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<label for="password">Confirm</label>
						<input type="text" class="form-control" id="password" placeholder="" />
					</div>
				</div>
			</fieldset>