							<fieldset class="form-horizontal">
								<legend>About you</legend>
								<div class="form-group clearfix">
									<label class="col-sm-12">Date of birth</label>
									<div class="col-sm-2">
									    <input id="dobDay" type="tel" maxlength="2" class="form-control" placeholder="DD"/>
									</div>
									<div class="col-sm-2">
									    <input id="dobMonth" type="tel" maxlength="2" class="form-control" placeholder="MM"/>
									</div>
									<div class="col-sm-2">
									    <input id="dobYear" type="tel" maxlength="4" class="form-control" placeholder="YYYY" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<label for="nationality">Nationality</label>
										<input id="nationality" type="text" class="form-control" placeholder="" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<label>Personal statement</label>
										<textarea class="form-control" rows="8" id="personalStatement"></textarea>
									</div>
								</div>
							</fieldset>
