							<fieldset class="add-bottom">
								<legend>Student information</legend>
								<div class="form-group">
									<label for="LCFStudentNumber">LCF student number</label>
									<input id="LCFStudentNumber" type="text" class="form-control" placeholder="e.g. ABC12345678" />
								</div>
								<div class="form-group">
									<label for="graduationYear">Graduation year</label>
									<input id="graduationYear" type="text" class="form-control" placeholder="" />
								</div>
								<div class="form-group">
									<label>Course</label>
									<input id="LCFCourse" type="text" class="form-control" placeholder="" />
								</div>
								<div class="form-group populate dropdown-list" data-populate="lcf_schools">
									<label>School</label>
									<select class="form-control">
									</select>
								</div>
								<div class="form-group populate dropdown-list" data-populate="lcf_study_levels">
									<label>Level</label>
									<select class="form-control">
									</select>
									<span class="help-block">Enter the highest level attained if you have left the College.</span>
								</div>
								
							</fieldset>
