<div class="pull-right account-status hidden-control recruiter-control populate" data-populate="recruiter">
	<p class="navbar-text navbar-right"><small>You are signed in as <span data-id="fullName"></span></small></p>
</div>

<div class="pull-right account-status hidden-control admin-control">
	<p><small>You are signed in as admin</small></p>
</div>

<div class="pull-right account-status hidden-control job_seeker-control populate" data-populate="job_seeker">
	<p class="navbar-text navbar-right"><small>You are signed in as <span data-id="fullName"></span></small></p>
</div>