			<fieldset class="form-horizontal add-bottom state--logged-out">
				<legend>Password</legend>
	        	<div class="form-group">
					<div class="col-sm-12">
						<label for="normalPassword">Password</label>
						<input type="text" class="form-control" id="normalPassword" placeholder="" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<label for="normalPasswordConfirm">Re-enter password</label>
						<input type="text" class="form-control" id="normalPasswordConfirm" placeholder="" />
					</div>
				</div>
			</fieldset>