<div class="panel-heading">
	<h3 class="panel-title">Job details</h3>
</div>
<table class="table">
	<tr><td data-label="company"><strong>Company</strong></td><td data-id="companyName"><a href=""></a></td></tr>
	<tr><td data-label="location"><strong>Location</strong></td><td data-id="jobLocation"></td></tr>
	<tr><td data-label="type"><strong>Job type</strong></td><td data-id="jobType"></td></tr>
	<tr><td data-label="duration"><strong>Duration</strong></td><td data-id="jobDuration"></td></tr>
	<tr><td data-label="salary"><strong>Salary</strong></td><td data-id="jobSalary"></td></tr>
	<tr><td data-label="deadline"><strong>Deadline</strong></td><td data-id="jobApplicationDeadline"></td></tr>
</table>