			<fieldset>
				<legend>Job details</legend>
				<div class="form-group">
					<label>Job title</label>
					<input type="text" class="form-control" id="jobTitle" placeholder="" />
					
				</div>
				<div class="form-group">
					<label>Job location</label>
					<input type="text" class="form-control" id="jobLocation" placeholder="" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" rows="3" id="jobDescription"></textarea>
				</div>
				<div class="form-group">
					<label>Job type</label>
					<select class="form-control">
						<option value="husker">Short term work experience</option>
						<option value="starbuck">Long term work placement</option>
						<option value="hotdog">Graduate job</option>
						<option value="apollo">Graduate freelance</option>
					</select>
				</div>
				<div class="form-group">
					<label>Length of contract</label>
					<select class="form-control">
						<option value="apollo">Negotiable</option>
						<option value="apollo">Permanent</option>
						<option value="husker">4 weeks</option>
						<option value="hotdog">3 months</option>
						<option value="apollo">6 months</option>
						<option value="apollo">12 months</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Salary range</label>
					<select class="form-control">
						<option value="11">Negotiable</option>
						<option value="12">£13k (NMW)</option>
						<option value="13">£14k - £16k</option>
						<option value="14">£16k - £18k</option>
						<option value="5">£18K - £20K</option>
						<option value="15">£20k - £22k</option>
						<option value="16">£22k - £24k</option>
						<option value="17">£25k+ (Please specify)</option>
					</select>
				</div>

				<div class="form-group">
					<label>Salary (specific)</label>
					<input type="text" class="form-control" placeholder="" />
				</div>

				<div class="form-group populate form-categories" data-populate="job_categories">
					<label>Categories</label>
				</div>
				
				<div class="form-group">
					<label>Application deadline</label>
					<input type="datetime" class="form-control" placeholder="" />
				</div>

				<div class="form-group">
					<label>Company name</label>
					<input type="text" class="form-control" placeholder="" />
				</div>

				<div class="form-group">
					<label>Company URL</label>
					<input type="text" class="form-control" placeholder="http://" />
				</div>
			</fieldset>