<fieldset class="add-bottom">
	<legend>Attachments</legend>
	<div class="well">
		<div class="form-group">
		    <label for="JobUpload1">File 1</label>
		    <input type="file" id="JobUpload1">
		</div>
		<div class="form-group">
		    <label for="JobUpload2">File 2</label>
		    <input type="file" id="JobUpload2">
		</div>
		<div class="form-group">
		    <label for="JobUpload3">File 3</label>
		    <input type="file" id="JobUpload3">
		</div>
		<p class="help-block">1MB limit per file. Accepted file formats: .pdf, .doc, .docx, .txt, .rtf</p>
	</div>
</fieldset>