			<fieldset>
				<legend>Your details</legend>
					<div class="row">
						<div class="large-8 columns">
							<div class="row">
								<div class="large-6 columns">
									<label>First name
										<input type="text" placeholder="" />
									</label>
								</div>
								<div class="large-6 columns">
									<label>Last name
										<input type="text" placeholder="" />
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-8 columns">
							<label>Address
								<input type="text" placeholder="" />
							</label>
						</div>
					</div>
			</fieldset>
