---
layout: admin
title: Jobs List
---

<div class="row">
	<div class="large-12 columns">
		<a href="create-job.html" class="button">Post a job</a>
	</div>
</div>

<div class="row">
	
	<div class="large-12 columns">
		<table>
		  <thead>
		    <tr>
		      <th width="200">Table Header</th>
		      <th>Table Header</th>
		      <th width="150">Table Header</th>
		      <th width="150">Table Header</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		  </tbody>
		</table>
		<ul class="no-bullet">
			<li>
				<h3><a href="/jobs/1800">Part Time Sales person</a></h3>
    			<div class='detail'>
					<span class='company'>Luru Wei Photography (Luru Wei)</span>
					<span class='location'>(West London)</span>
					<div class='specifics'>
					<span class='length_of_contract'>Graduate Job / Permanent</span>
					<span class="salary">Salary: &pound;7.00</span>
				</div>
			</li>
<li>
	<div class="result-item">
	  <h2><a href="/jobs/1790">Photographic & Web Assistant</a></h2>
    <div class='detail'>
<span class='company'>This Old Thing London (Charli Evans)</span>
<span class='location'>(West London)</span>
<div class='specifics'>
<span class='length_of_contract'>Long Term Work Placement / Negotiable</span>
<span class="salary">Salary: Negotiable</span>
</div>
</div>

    <div class="mt">
      Skills required: PHOTOGRAPHY, Jewellery
    </div>
	  <div class="mt">
      <p>We are looking for a dedicated photographic and web assistant to join our small team based in West London initially one day per week to photograph new stock and update the TOTL website with our latest offerings from Chanel, Hermes, Dior etc. </p>

<p>Must be flexible, computer literate, have a flair f...</p>...
    </div>
    <div class="left">
      Apply before 04 April, 2014
    </div>
    <div class="right ar">
			<a href="/jobs/1790">View details / Apply for position</a>
		</div>
		<br style="clear:both;" />
	</div>
</li>
<li>
	<div class="result-item">
	  <h2><a href="/jobs/1302">WGSN Editorial Intern</a></h2>
    <div class='detail'>
<span class='location'>(Greater London)</span>
<div class='specifics'>
<span class='length_of_contract'>Short Term Work Experience / Negotiable</span>
<span class="salary">Salary: Travel and Expenses</span>
</div>
</div>

    <div class="mt">
      Skills required: JOURNALISM, TREND FORECASTING
    </div>
	  <div class="mt">
      <p>ACCREDIT INTERNSHIP ONLY - APPLY ONLY IF PART OF YOUR COURSE UNIT </p>

<p>PLEASE REFER TO ATTACHMENT FOR DETAILS </p>...
    </div>
    <div class="left">
      Apply before 04 April, 2014
    </div>
    <div class="right ar">
			<a href="/jobs/1302">View details / Apply for position</a>
		</div>
		<br style="clear:both;" />
	</div>
</li>

		</ul>


	</div>

	

</div>