---
layout: admin-bootstrap
title: Admin - Bulk Email
persona: admin
notes: Textarea may need TinyMCE if we are sending HTML email (and it may be easier to send text). Note the Preview and send button will load its own preview window designed as per <a href="job-apply-preview.html">job-apply-preview</a>
---

<div class="page-header">
	<h1>Bulk email</h1>
</div>

<div class="row">

	<div class="col-md-6">
		<form role="form">
			<fieldset>
				<legend>Mailing list</legend>
				<div class="form-group">
					<label>Email addresses</label>
					<textarea id="bulkEmailList" class="form-control" rows="12"></textarea>
					<span class="help-block">Enter 1 email address per line. You may add additional addresses in this window.</span>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="col-md-6">
		<form role="form" action="job-apply-preview.html">
			<fieldset>
				<legend>Compose</legend>
				<div class="form-group">
					<label>Email body</label>
					<textarea class="form-control" rows="12"></textarea>
				</div>
			</fieldset>
			<button type="submit" class="btn btn-primary">Preview and send</button>
		</form>

	</div>
</div>


