---
layout: admin-bootstrap
title: Admin - View Job Seeker
persona: admin
---

<div class="page-header">
	<h1>Job seeker detail</h1>
</div>

<div class="row populate" data-populate="job_seeker">
	<div class="col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Contact details</h3>
		  </div>
		  <div class="panel-body">
			<p><strong data-id="fullName"></strong></p>
			<p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:" data-id="emailAddress" title="Email this job seeker"></a></p>
			<p><strong>Address:</strong></p>	
			<p>
				<span data-id="addressLine1"></span><br>
				<span data-id="addressLine2"></span><br>
				<span data-id="townOrCity"></span><br>
				<span data-id="countyOrRegion"></span><br>
				<span data-id="postcode"></span><br>
				<span data-id="country"></span>
			</p>
			<p><strong>Phone:</strong> <span data-id="contactNumber"></span></p>
		  </div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Student information</h3>
		  	</div>
		  	<div class="panel-body">
				<p><strong>LCF student number:</strong> <span data-id="LCFStudentNumber"></span></p>
				<p><strong>Course</strong>: <span data-id="LCFCourse"></span></p>
				<p><strong>Graduation year</strong>: <span data-id="graduationYear"></span></p>
				<p><strong>Personal statement</strong>: <span data-id="personalStatement"></span></p>
		  	</div>
		</div>

		<div class="panel panel-default admin-control">
			<div class="panel-heading">
				<h3 class="panel-title">Admin</h3>
			</div>
			<div class="panel-body">
				<p><strong>Keywords:</strong></p>
				<p data-id="adminKeywords"></p>
				<p><strong>Notes:</strong></p>
				<p data-id="adminNotes"></p>
			</div>
			<div class="panel-footer">
				<small>Last updated by Adam Watling on 12 Jun 2014 - <a href="job-seeker-account-edit.html?logged-in=admin#admin-notes">Edit notes and keywords</a></small>
			</div>

		</div>
	</div>
	<div class="col-md-4 job-seeker-stats-widget populate" data-populate="job_seeker">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Stats</h3>
			</div>
			<table class="table">
				<tr><td>Last logged in</td><td data-id="lastLoggedIn"></td></tr>
				<tr><td>Active since</td><td data-id="activeSince"></td></tr>
				<tr><td>Applications submitted</td><td data-id="applicationsSubmitted"></td></tr>
				<tr><td>Appointments</td><td data-id="appointments"></td></tr>
			</table>
		</div>

	</div>
</div>