---
layout: admin-bootstrap
title: Admin - Activity Report
persona: admin
notes: The view defaults to by month. If 'day' is selected, the most recent 10 days are listed per page, if 'year', the recent years in reverse order.
---

<div class="page-header">
	<h1>Activity report</h1>
</div>

<div class="control-bar row">
	<div class="col-md-12">
		<div class="well clearfix">
			<div class="control pull-left">
				<p>View by:</p>
				<div class="btn-group">
					<button class="btn btn-default btn-sm">Day</button>
					<button class="btn btn-default btn-sm active">Month</button>
					<button class="btn btn-default btn-sm">Year</button>
				</div>

			</div>	
			<div class="control pull-left">
				<p>Date range:</p>
				<div class="input-daterange input-group datepicker">
				    <input type="text" class="input-sm form-control" name="start" />
				    <span class="input-group-addon">to</span>
				    <input type="text" class="input-sm form-control" name="end" />
				</div>
			</div>
			<div class="control pull-right">
				<p>With selection:</p>
				<a href="#" class="btn btn-default btn-sm">Export</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Job seeker sign ups</th>
					<th>Job seeker logins</th>
					<th>Jobs posted</th>
					<th>Job applications</th>
					<th>Vacancies filled</th>
				</tr>
			</thead>
			<tr>
				<td>April 2014</td>
				<td>64</td>
				<td>88</td>
				<td>34</td>
				<td>104</td>
				<td>32</td>
			</tr>
			<tr>
				<td>March 2014</td>
				<td>44</td>
				<td>78</td>
				<td>20</td>
				<td>88</td>
				<td>19</td>
			</tr>
			<tr>
				<td>February 2014</td>
				<td>38</td>
				<td>68</td>
				<td>24</td>
				<td>67</td>
				<td>18</td>
			</tr>
			<tr>
				<td>January 2014</td>
				<td>30</td>
				<td>57</td>
				<td>12</td>
				<td>45</td>
				<td>7</td>
			</tr>
		</table>
	</div>
</div>





{% include _pagination.html %}
