---
layout: admin-bootstrap
title: Admin - Job Seekers Report
persona: admin
notes: Profile search indexes (at least) firstname, lastname, email, course, admin notes and admin keywords. Last logged in date would be the sign up date if a user signs up then doesn't log back in. Sort order defaults to last logged in.
---

<div class="page-header">
	<h1>Job seekers report</h1>
</div>

<div class="control-bar row">
	<div class="col-md-12">
		<div class="well clearfix">
			<div class="row">
				<div class="col-md-12 add-bottom">
					<div class="control">
						<p class="label">Profile search</p>
					    <input type="search" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">	
					<div class="control pull-left populate dropdown-list" data-populate="lcf_schools">
						<p class="label">Filter by school</p>
						<select class="form-control input-sm">
						</select>
					</div>
					<div class="control pull-left">
						<p class="label">Filter by level</p>
						<select class="form-control input-sm">
							<option>Select</option>
							<option value="short-term-work-experience">Undergraduate</option>
							<option value="long-term-work-placement">Postgraduate</option>
						</select>
					</div>
					<div class="control pull-left">
						<p class="label">Graduation year range (inclusive)</p>
						<div class="input-daterange input-daterange-year input-group">
						    <input type="text" class="input-sm form-control" name="start" />
						    <span class="input-group-addon">to</span>
						    <input type="text" class="input-sm form-control" name="end" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="label">Select</p>
				</div>
				<div class="col-md-12">
					<div class="control">
						<div class="checkbox-inline">
							<label>
	  							<input type="checkbox" id="flagged" value="flagged"> Flagged
							</label>
						</div>
						<div class="checkbox-inline">
							<label>
	  						<input type="checkbox" id="marketable" value="marketable"> Marketing permitted
							</label>
						</div>
						<div class="checkbox-inline">
								<label>
	  							<input type="checkbox" id="ldap" value="ldap"> LDAP accounts
							</label>
						</div>
						<div class="checkbox-inline">
								<label>
	  							<input type="checkbox" id="non-ldap" value="non-ldap"> Non-LDAP accounts
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="control col-md-12 add-bottom">
					<button class="btn btn-primary" type="button">Search</button>
				</div>
			</div>
			<div class="row">
				<div class="control col-md-12">
					<p class="label">With selection</p>
					<a href="#" class="btn btn-default btn-sm">Export</a>
					<a href="admin-bulk-email.html" class="btn btn-default btn-sm">Bulk email</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="students-list"></div>
	</div>
</div>

{% include _pagination.html %}

