---
layout: admin-bootstrap
title: Admin - Recruiters Report
persona: admin
notes: Recruiter search indexes (at least) firstname, lastname, email, company name, admin notes and admin keywords.
---

<div class="page-header">
	<h1>Recruiter report</h1>
</div>

<div class="control-bar row">
	<div class="col-md-12">
		<div class="well clearfix">
			<div class="row">
				<div class="col-md-12 add-bottom">
					<div class="control control-search pull-left">
						<p>Recruiter search:</p>
						<div class="input-group input-group-sm">
							<input type="search" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Search</button>
							</span>
						</div>
					</div>
					<div class="control pull-left">
						<label class="checkbox-inline">
  							<input type="checkbox" id="flagged" value="flagged"> Flagged
						</label>
						<label class="checkbox-inline">
  							<input type="checkbox" id="marketable" value="marketable"> Marketing permitted
						</label>
					</div>
					<div class="control pull-left">
						<p>With selection:
							<a href="#" class="btn btn-default btn-sm">Export</a>
							<a href="admin-bulk-email.html" class="btn btn-default btn-sm">Bulk email</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="recruiters-list"></div>
	</div>
</div>

{% include _pagination.html %}

