---
layout: admin-bootstrap
title: Admin - Dashboard
persona: admin
---

<div class="page-header">
	<h1>Dashboard</h1>
</div>

<div class="row">

	<div class="col-sm-4">
		<h2>Site</h2>
			<p>
				<a class="btn btn-default" href="../index.html">View latest jobs</a>
			</p>
	</div>

	<div class="col-sm-4">
		<h2>Reports</h2>

			<p>
				<a class="btn btn-default" href="admin-activity-report.html">Activity report</a>
			</p>
			<p>
				<a class="btn btn-default" href="admin-job-seeker-report.html">Job seekers report</a>
			</p>
			<p>
				<a class="btn btn-default" href="admin-jobs-report.html">Jobs report</a>
			</p>
			<p>
				<a class="btn btn-default" href="admin-recruiter-report.html">Recruiters report</a>
			</p>
	</div>

	<div class="col-sm-4">
		<h2>Tools</h2>

			<p>
				<a class="btn btn-default" href="admin-bulk-email.html">Bulk email</a>
			</p>
			<p>
				<a class="btn btn-default" href="admin-field-spec.html">Set editable fields</a>
			</p>

	</div>

</div>


