---
layout: admin-bootstrap
title: Admin - Editable fields
persona: admin
---

{% include _account-status.html %}

<div class="page-header">
	<h1>Editable fields</h1>
</div>

<div class="row">
	<div class="col-md-6">

		<form role="form">
			<fieldset>
				<h3>For job seekers</h3>
				<div class="form-group">
					<label>Cover letter - guidance notes</label>
					<textarea class="form-control" rows="8" id="adminCoverLetter"></textarea>
				</div>
				<div class="form-group">
					<label>Data protection notice</label>
					<textarea class="form-control" rows="8" id="dataProtectionJobSeeker"></textarea>
				</div>


				<h3>For recruiters</h3>
				<div class="form-group">
					<label>Job post form notice</label>
					<textarea class="form-control" rows="8" id="adminJobPostNotice"></textarea>
					<span class="help-block">e.g. National Minimum Wage warning</span>
				</div>
				<div class="form-group">
					<label>Job edit form notice</label>
					<textarea class="form-control" rows="8" id="adminJobEditNotice"></textarea>
				</div>
				<div class="form-group">
					<label>Job posted success text</label>
					<textarea class="form-control" rows="8" id="adminJobSuccess"></textarea>
				</div>
				<div class="form-group">
					<label>Data protection notice</label>
					<textarea class="form-control" rows="8" id="dataProtectionRecruiter"></textarea>
				</div>

				
			</fieldset>
		</form>

	</div>
</div>

