---
layout: admin-bootstrap
title: Job Page
persona: all
notes: Job seekers not logged in will be directed to <a href="sign-in.html">sign in</a>. Once a job has expired, recruiters should see a <a href="#" class="btn btn-sm btn-success">Post as new</a> button rather than an <a href="#">Edit this job</a> link.
---

<div class="page-header populate" data-populate="job">
	<h1 data-id="jobTitle"></h1>
	<div class="pull-right hidden-control recruiter-control admin-control"><p><a href="recruiter-edit-job.html">Edit this job</a></p></div>
</div>

<div class="row populate" data-populate="job">

	<div class="col-md-7">
		<p class="lead" data-id="jobSummary"></p>
		<p data-id="jobDescription"></p>
		<footer class="job-meta">
			<small>Posted on <span data-id="jobPosted"></span> | Last modified <span data-id="jobLastModified"></span></small>
		</footer>
	</div>

	<div class="col-md-4 col-md-offset-1">
		<div class="panel panel-default populate" data-populate="job">
			{% include _job-details-mini.html %}
		</div>
		
		<a href="job-apply.html" class="btn btn-primary btn-block apply-button">Apply for this job</a>
	</div>
</div>