---
layout: admin-bootstrap
title: Job Seeker - Sign Up
persona: job-seeker
---

<div class="page-header">
	<h1>Create your account</h1>
</div>

<div class="row">

	<div class="col-md-12">
		<div id="message-updated" class="hidden-message alert alert-success">
			<p><strong>Success!</strong> Your account has been updated.</p>
		</div>
	</div>

	<div class="col-md-6">

		<form action="#updated" class="job-seeker-sign-up">
			<fieldset class="form-horizontal add-bottom">
				<!-- <legend>About you</legend> -->
	            <div class="form-group populate" data-populate="job_seeker">
					<div class="col-sm-12">
						<label for="emailAddress">Email address</label>
						<input type="text" class="form-control" id="emailAddress" placeholder="" />
					</div>
				</div>
        	</fieldset>

			{% include _account-password.html %}

			{% include _personal-details.html %}

			{% include _account-student-info.html %}

			{% include _accept-terms.html %}

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
</div>