---
layout: admin-bootstrap
title: Job Page
---

<div class="page-header">
	<h1>Seamstress</h1>
</div>

<div class="row">

	<div class="col-md-8">
		<p class="lead">Zaeem Jamal are currently looking for a part time in house seamstress who would conduct dress fittings and carry out alterations on our gowns and dresses.</p>
		<p>They will pay a negotiable hourly rate on a part time basis. The job would be for probably 2-3 half days per week. So possibly in total approximately 12/15 hours a week, variable. This can be more when busier.</p>
		<p>The candidate would really need to have some experience in fittings and alterations, as they will be working on their own, not under supervision. So a graduate perhaps who has some hands on experience and has worked on the technical aspect of tailoring.</p>
		<p>Below is the website that would give you some idea of their House Collection. Their gowns are in in silk and are often delicately beaded.</p>
	</div>

	<div class="col-md-4">
		<div class="well">
		<table class="table">
			<tr><td>Company</td><td><a href="http://www.zaeemjamal.com">Zaeem Jamal</a></td></tr>
			<tr><td>Job type</td><td>Graduate job</td></tr>
			<tr><td>Length of contract</td><td>Permanent</td></tr>
			<tr><td>Salary</td><td>Negotiable</td></tr>
			<tr><td>Deadline</td><td>11 April, 2014</td></tr>
		</table>
		    
		<a href="job-apply.html" class="btn btn-primary btn-sm btn-block">Apply for this job</a>
		</div>
	</div>
		

</div>