---
layout: admin-bootstrap
title: Job Seeker - Account Edit
persona: job-seeker
notes: Only admins can view and edit the 'admin' tab
---

<div class="page-header">
	<h1>Your account</h1>
</div>

<div class="row">
	{% include _message-account-update.html %}

	<div class="col-md-12 add-bottom">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<!-- <li><a href="#home" data-toggle="tab">Home</a></li> -->
			<li class="active"><a href="#personal-details" data-toggle="tab">Personal details</a></li>
			<li><a href="#student-information" data-toggle="tab">Student information</a></li>
			<li><a href="#biographical-details" data-toggle="tab">Biography</a></li>
			<li><a href="#settings" data-toggle="tab">Settings</a></li>
			<li class="hidden-control admin-control"><a href="#admin-notes" data-toggle="tab">Admin</a></li>
		</ul>
	</div>

	<div class="col-md-12">

		<!-- Tab panes -->
		<div class="tab-content">
		  	
		  	<div class="tab-pane active" id="personal-details">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">
							{% include _personal-details.html %}
							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
				</div>
		  	</div>

		  	<div class="tab-pane" id="biographical-details">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">
							{% include _account-about-you.html %}
							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
				</div>
			</div>

		  	<div class="tab-pane" id="student-information">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">	
							{% include _account-student-info.html %}
							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
				</div>
			</div>

		  	<div class="tab-pane" id="settings">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated">
							{% include _field-password-edit.html %}
							<fieldset class="add-bottom">
								<legend>Notifications</legend>
								<div class="checkbox">
								  <label>
								    <input type="checkbox" value="" checked>
								    Send me email about careers events and special promotions
								  </label>
								</div>
							</fieldset>
							<fieldset class="form-horizontal">
								<legend>Jobs bulletin</legend>
								<div class="form-group populate form-categories" data-populate="job_categories">
									<label class="col-sm-12">Job preferences</label>
								</div>
								<div class="form-group">
									<label class="col-sm-12">Frequency</label>
									<div class="col-sm-12">
										<div class="checkbox">
											<label>
										    	<input type="checkbox" value="">
										    	Email me when any matching job is posted
											</label>
										</div>
										<div class="checkbox">
										    <label>
										    	<input type="checkbox" value="" checked>
										    	Email me a weekly digest of matching jobs 
										  </label>
										</div>
									</div>
								</div>
							</fieldset>
							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="alert alert-warning">
							<h4>Data protection</h4>
							<p>We will only use your details to contact you about your job applications and
							 your account. If you agree to receive additional notifications, we will send you email periodically. We will not use your details for any other purpose or pass on your details to any third party unless you specifically ask us to. See our <a href="#">privacy policy</a> for more information.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="admin-notes">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">
							{% include _admin-notes-keywords.html %}
							<button type="submit" class="btn btn-primary updated">Update</button>
							<a class="btn btn-success" href="admin-view-job-seeker.html?logged-in=admin">View</a>
						</form>
					</div>
					<div class="col-md-4 col-md-offset-2">
						<div class="panel panel-default personal-details-widget">
							<div class="panel-heading">
								<h3 class="panel-title">Last updated</h3>
							</div>
							<table class="table">
								<tr><td>Adam Watling</td><td>12/06/2014</td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>