---
layout: admin-bootstrap
title: Apply for a job
---

<div class="page-header">
	<h1>Apply</h1>
</div>




<div class="row">

	<div class="col-md-6">

		<div class="panel panel-default personal-details-widget">
			<div class="panel-heading">
				<h3 class="panel-title">The following details will be submitted with your application:</h3>
			</div>
			<table class="table populate" data-populate="job_seeker">
				<tr><td>Name</td><td data-id="fullName"></td></tr>
				<tr><td>Email address</td><td data-id="emailAddress"></td></tr>
			</table>
			<div class="panel-footer">Not correct? <a href="job-seeker-account.html">Edit</a></div>
		</div>

		<form role="form" action="job-apply-preview.html">
			<fieldset>
				<legend>Your application</legend>
				<div class="form-group">
					<label>Cover letter</label>
					<textarea class="form-control" rows="12"></textarea>
				</div>
			</fieldset>

			<button type="submit" class="btn btn-primary">Preview application</button>

		</form>
	</div>

	<div class="col-md-4 col-md-offset-2 job-details-widget populate" data-populate="job">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Job summary</h3>
			</div>
			<div class="panel-body" data-id="jobSummary"></div>
		</div>

		<div class="panel panel-default personal-details-widget populate" data-populate="job">
			<div class="panel-heading">
				<h3 class="panel-title">Job details</h3>
			</div>
			<table class="table">
				<tr><td>Company</td><td data-id="companyName"></td></tr>
				<tr><td>Job title</td><td data-id="jobTitle"></td></tr>
				<tr><td>Job type</td><td data-id="jobType"></td></tr>
				<tr><td>Length of contract</td><td data-id="jobContractLength"></td></tr>
				<tr><td>Salary</td><td data-id="jobSalary"></td></tr>
				<tr><td>Location</td><td data-id="jobLocation"></td></tr>
				<tr><td>Deadline</td><td data-id="jobApplicationDeadline"></td></tr>
			</table>
			<div class="panel-footer"><a href="job-single.html">&larr; Return to full listing</a></div>
		</div>

	</div>
</div>
