---
layout: admin-bootstrap
title: Job Seeker - Account
---

<div class="page-header">
	<h1>Your account</h1>
</div>

<div class="row">
	<div class="col-md-6">

		<form data-fill="true">
			{% include _personal-details.html %}

			<fieldset class="form-horizontal">
				<legend>About you</legend>
				<div class="form-group clearfix">
					<label class="col-sm-12">Date of birth</label>
					<div class="col-sm-2">
					    <input id="day" type="tel" maxlength="2" class="form-control" placeholder="DD"/>
					</div>
					<div class="col-sm-2">
					    <input id="month" type="tel" maxlength="2" class="form-control" placeholder="MM"/>
					</div>
					<div class="col-sm-2">
					    <input id="year" type="tel" maxlength="4" class="form-control" placeholder="YYYY" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<label>Biography</label>
						<textarea class="form-control" rows="6"></textarea>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>LCF Qualification</legend>
				<div class="form-group">
					<label>LCF student number</label>
					<input type="text" class="form-control" placeholder="e.g. ABC123456" />
				</div>
				<div class="form-group">
					<label>Qualification</label>
					<select class="form-control">
						<option value="husker">List of courses</option>
						<option value="starbuck">?</option>
						<option value="hotdog">?</option>
						<option value="apollo">?</option>
					</select>
				</div>
				<div class="form-group">
					<label>Grade</label>
					<select class="form-control">
						<option value="husker">N/A</option>
						<option value="starbuck">?</option>
						<option value="hotdog">?</option>
						<option value="apollo">?</option>
					</select>
				</div>
				<div class="form-group">
					<label>Graduation date</label>
					<input type="datetime" class="form-control" placeholder="" />
				</div>
			</fieldset>

			<button type="submit" class="btn btn-primary">Update</button>
		</form>

	</div>
</div>