---
layout: admin-bootstrap
title: Job Seeker - Sign Up
persona: job-seeker
---

<div class="page-header">
	<h1>Create your account</h1>
</div>

<div class="row">

	<div class="col-md-12">
		<div id="message-updated" class="hidden-message alert alert-success">
			<p><strong>Success!</strong> Your account has been updated.</p>
		</div>
	</div>

	<div class="col-md-6">

		<form action="#updated">
			{% include _personal-details.html %}

			{% include _account-student-info.html %}

			{% include _accept-terms.html %}

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
</div>