---
layout: admin-bootstrap
title: Job Seeker - Sign Up
persona: job-seeker
---

<div class="page-header">
	<h1>Create your account</h1>
</div>

<div class="row">

	<div class="col-md-12">
		<div id="message-updated" class="hidden-message alert alert-success">
			<p><strong>Success!</strong> Your account has been updated.</p>
		</div>
	</div>

	<div class="col-md-6">

		<form action="#updated" class="job-seeker-sign-up">
			<fieldset class="form-horizontal add-bottom">
				<!-- <legend>About you</legend> -->
				<div class="form-group">
	                <label class="col-md-12">I have an arts.ac.uk email address:</label>
	                <div class="col-md-12 LDAP-account-select">
	                    <label class="radio-inline">
	                        <input type="radio" name="optionsRadios" id="LDAPAccountYes" value="yes" checked> Yes
	                    </label>
	                    <label class="radio-inline">
	                        <input type="radio" name="optionsRadios" id="LDAPAccountNo" value="no"> No
	                    </label>
						<span class="help-block">If you have an arts.ac.uk email address, please use this to sign up - it will speed up your registration process. You will have the option to change your preferred email address and password after registration.</span>
	                </div>
	            </div>
	            <div class="form-group">
					<div class="col-sm-12">
						<label for="LDAPEmailAddress">Email address</label>
						<input type="text" class="form-control" id="LDAPEmailAddress" placeholder="" />
						<span class="help-block">This should end in arts.ac.uk</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<label for="LDAPPassword">Password</label>
						<input type="text" class="form-control" id="LDAPPassword" placeholder="" />
					</div>
					<span class="help-block"></span>
				</div>
        	</fieldset>

			{% include _personal-details.html %}

			{% include _account-student-info.html %}

			{% include _accept-terms.html %}

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
</div>