---
layout: admin-bootstrap
title: Apply - Preview
persona: job-seeker
---

<div class="page-header">
	<h1>Your application</h1>
</div>

<div class="row">
	<div class="col-md-8">
		<header class="populate" data-populate="job">
			<h2><span data-id="jobTitle"></span> at <span data-id="companyName"></span></h2>
		</header>
		<div class="well super-size">
			
			<ul class="populate" data-populate="job_seeker">
				<li>Name: <span data-id="fullName"></span></li>
				<li>Email address: <span data-id="emailAddress"></span></li>
			</ul>

			<p>I'm a designer of engaging interactive experiences and I love it. Merging digital creative and all technical aspects is my jam. I'm intelligent, I have experience, I'm up on trends, I know what's possible but want to push myself and my creative further than I could anywhere else. I want to be a part of something bigger - and do it with a handpicked team that is just as talented, proactive and progressive as I am.  I am an excellent communicator, enjoy presenting and working with excellent clients, and importantly mentoring creatives and nurturing a talented team. I am able to collaborate with technologists to create enhanced solutions.</p>

			<ul>
				<li>CV: dmitri-stavou-CV.pdf</li>
			</ul>

			<form role="form" action="job-apply-success.html">
				<a href="job-apply.html" class="btn btn-default">Edit</a>
				<button type="submit" class="btn btn-primary">Submit application</button>
			</form>
		</div>
	</div>


</div>
