---
layout: admin-bootstrap
title: Job Page
persona: all
---

<div class="page-header populate" data-populate="job">
	<h1 data-id="jobTitle"></h1>
</div>

<div class="row populate" data-populate="job">

	<div class="col-md-7">
		<p class="lead" data-id="jobSummary"></p>
		<p data-id="jobDescription"></p>
	</div>

	<div class="col-md-4 col-md-offset-1">
		<div class="well">
		<table class="table">
			<tr><td>Company</td><td data-id="companyName"><a href=""></a></td></tr>
			<tr><td>Job type</td><td data-id="jobType"></td></tr>
			<tr><td>Length of contract</td><td data-id="jobContractLength"></td></tr>
			<tr><td>Salary</td><td data-id="jobSalary"></td></tr>
			<tr><td>Deadline</td><td data-id="jobApplicationDeadline"></td></tr>
		</table>
		    
		<a href="job-apply.html" class="btn btn-primary btn-sm btn-block apply-button">Apply for this job</a>
		</div>
	</div>
		

</div>