---
layout: admin-bootstrap
title: Job Seeker - Create Account
persona: job-seeker
notes: Currently a successful submission redirects to the account-edit screen, however it may be just as good (and arguably clearer) to display a stand-alone success page.
---

<div class="page-header">
	<h1>Create your account</h1>
</div>

<div class="row">

	<div class="col-md-6">

		<form action="job-seeker-account-edit.html" class="job-seeker-sign-up">

			{% include _contact-details.html %}

			{% include _account-student-info.html %}

			{% include _accept-terms.html %}

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
</div>