---
layout: admin-bootstrap
title: Job Seeker - Account Edit
persona: job-seeker
---

<div class="page-header">
	<h1>Your account</h1>
</div>

<div class="row">
	{% include _message-account-update.html %}

	<div class="col-md-12 add-bottom">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<!-- <li><a href="#home" data-toggle="tab">Home</a></li> -->
			<li class="active"><a href="#personal-details" data-toggle="tab">Personal details</a></li>
			<li><a href="#student-information" data-toggle="tab">Student information</a></li>
			<li><a href="#biographical-details" data-toggle="tab">Biography</a></li>
			<li><a href="#settings" data-toggle="tab">Settings</a></li>
			<li class="admin-control"><a href="#admin-notes" data-toggle="tab">Admin</a></li>
		</ul>
	</div>

	<div class="col-md-12">

		<!-- Tab panes -->
		<div class="tab-content">
		  	
		  	<!-- <div class="tab-pane" id="home">...</div> -->

		  	<div class="tab-pane active" id="personal-details">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">
							{% include _personal-details.html %}

							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
				</div>
		  	</div>

		  	<div class="tab-pane" id="biographical-details">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">
							{% include _account-about-you.html %}

							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
				</div>
			</div>

		  	<div class="tab-pane" id="student-information">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">	
							{% include _account-student-info.html %}

							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
				</div>
			</div>

		  	<div class="tab-pane" id="settings">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated">
							{% include _field-password-edit.html %}
							<fieldset class="add-bottom">
								<legend>Notifications</legend>
								<div class="checkbox">
								  <label>
								    <input type="checkbox" value="" checked>
								    Send me email about careers events and special promotions
								  </label>
								</div>
							</fieldset>
							<fieldset>
								<legend>Jobs bulletin</legend>
								<div class="form-group populate form-categories" data-populate="job_categories">
									<label>Job preferences</label>
								</div>
								<div class="form-group">
									<label>Frequency</label>
									<div class="checkbox">
										<label>
									    	<input type="checkbox" value="">
									    	Email me when any matching job is posted
										</label>
									</div>
									<div class="checkbox">
									    <label>
									    	<input type="checkbox" value="" checked>
									    	Email me a weekly digest of matching jobs 
									  </label>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="admin-notes">
		  		<div class="row">
			  		<div class="col-md-6">
						<form action="#updated" class="populate" data-populate="job_seeker">	
							<fieldset>
								<legend>Notes</legend>
								<div class="form-group">
									<textarea class="form-control" rows="8" id="adminNotes"></textarea>
								</div>
							</fieldset>
							<button type="submit" class="btn btn-primary updated">Update</button>
						</form>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>