---
layout: admin-bootstrap
title: Jobs List
persona: all
notes: Search facets for categories only display if there are live jobs in those categories. Facets for jobs and placements are slightly different, and should always be visible even if e.g. there are 0 placements offered.
---

<div class="page-header">
	<h1>All current opportunities</h1>
</div>

<div class="row add-bottom">
	<div class="col-md-8">
		<p>Browsing 56 current opportunities</p>
	</div>
	<div class="col-md-4">
		<div class="control pull-right">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Search</button>
				</span>
			</div><!-- /input-group -->
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 sidebar">
		<div class="list-group">
			<a href="#" class="list-group-item active">All</a>
			<a href="#" class="list-group-item"><span class="badge">56</span>Jobs</a>
			<a href="#" class="list-group-item"><span class="badge">16</span>Placements</a>
		</div>
		<div class="list-group populate list-categories" data-populate="job_categories"></div>
	</div>
	<div class="col-md-9 add-bottom">
		<ul class="job-list no-bullet">
			{% include _list-jobs.html %}
			{% include _list-jobs.html %}
		</ul>
	</div>
</div>

{% include _pagination.html %}
