---
layout: admin-bootstrap
title: Jobs List
---

<div class="page-header">
	<h1>All jobs</h1>
</div>

<div class="row">
	<div class="col-md-4 add-bottom">
		<button class="btn btn-default">Post a job</button>
	</div>
    <div class="col-md-4 pull-right">
		<div class="input-group">
  			<input type="text" class="form-control">
			<span class="input-group-btn">
			<button class="btn btn-default" type="button">Search</button>
			</span>
		</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
</div>

<ul class="job-list no-bullet">
	{% include _list-three-jobs.html %}
	{% include _list-three-jobs.html %}
	{% include _list-three-jobs.html %}
</ul>

<div class="row">
	<div class="col-md-12">
		<ul class="pagination">
		  <li class="disabled"><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
