---
layout: admin-bootstrap
title: Jobs List
persona: all
---

<div class="page-header">
	<h1>All current opportunities</h1>
</div>

<div class="row">
	<div class="col-md-4 pull-right add-bottom">
		<a href="recruiter-post-job.html" class="control pull-right btn btn-default">Post a job</a>
		<a href="recruiter-view-jobs.html?logged-in=true" class="pull-right btn btn-default hidden-control recruiter-control">View your jobs</a>
	</div>
</div>

<div class="control-bar row">
	<div class="col-md-12">
		<div class="well clearfix">
			<!-- <div class="control pull-left">
				<p>Status</p>
				<div class="btn-group">
					<button class="btn btn-default btn-sm active">Live</button>
					<button class="btn btn-default btn-sm">Expired</button>
					<button class="btn btn-default btn-sm">All</button>
				</div>
			</div> -->	
			<div class="control control-search pull-left">
				<p>Job search</p>
			    <div class="input-group input-group-sm">
			      <input type="text" class="form-control">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Search</button>
			      </span>
			    </div><!-- /input-group -->
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 sidebar">
		<div class="list-group">
			<a href="#" class="list-group-item active">All</a>
			<a href="#" class="list-group-item">Jobs</a>
			<a href="#" class="list-group-item">Placements</a>

		</div>
		<div class="list-group populate list-categories" data-populate="job_categories"></div>
	</div>
	<div class="col-md-9 add-bottom">
		<ul class="job-list no-bullet">
			{% include _list-jobs.html %}
			{% include _list-jobs.html %}
		</ul>
	</div>
</div>

{% include _pagination.html %}
