---
layout: admin-bootstrap
title: Recruiter - edit job
---

<div class="page-header">
	<h1>Edit job</h1>
</div>

<div class="row">
	<div class="col-md-6">

		<form role="form" class="populate" data-populate="job">
			<fieldset>
				<legend>Job details</legend>
				<div class="form-group">
					<label>Job title</label>
					<input type="text" class="form-control" id="jobTitle" placeholder="" />
					
				</div>
				<div class="form-group">
					<label>Job location</label>
					<input type="text" class="form-control" id="jobLocation" placeholder="" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" rows="3" id="jobDescription"></textarea>
				</div>
				<div class="form-group">
					<label>Job type</label>
					<select class="form-control">
						<option value="husker">Short term work experience</option>
						<option value="starbuck">Long term work placement</option>
						<option value="hotdog">Graduate job</option>
						<option value="apollo">Graduate freelance</option>
					</select>
				</div>
				<div class="form-group">
					<label>Length of contract</label>
					<select class="form-control">
						<option value="apollo">Negotiable</option>
						<option value="apollo">Permanent</option>
						<option value="husker">4 weeks</option>
						<option value="hotdog">3 months</option>
						<option value="apollo">6 months</option>
						<option value="apollo">12 months</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Salary range</label>
					<select class="form-control">
						<option value="11">Negotiable</option>
						<option value="12">£13k (NMW)</option>
						<option value="13">£14k - £16k</option>
						<option value="14">£16k - £18k</option>
						<option value="5">£18K - £20K</option>
						<option value="15">£20k - £22k</option>
						<option value="16">£22k - £24k</option>
						<option value="17">£25k+ (Please specify)</option>
					</select>
				</div>

				<div class="form-group">
					<label>Salary (specific)</label>
					<input type="text" class="form-control" placeholder="" />
				</div>

				<div class="form-group">
					<label>Categories</label>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Administration
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Buying
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Design
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Marketing
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Photography
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Product development
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Public relations
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Retail
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Sales
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="checkbox1" type="checkbox">Visual merchandising
						</label>
					</div>
				</div>
				
				<div class="form-group">
					<label>Application deadline</label>
					<input type="datetime" class="form-control" placeholder="" />
				</div>

				<div class="form-group">
					<label>Company name</label>
					<input type="text" class="form-control" placeholder="" />
				</div>

				<div class="form-group">
					<label>Company URL</label>
					<input type="text" class="form-control" placeholder="http://" />
				</div>
			</fieldset>


			<div class="alert alert-info">
				<p>Already signed up? <a href="sign-in.html">Log in</a> now to speed things up.</p>
			</div>

			{% include _personal-details.html %}

			{% include _accept-terms.html %}

			<button type="submit" class="btn btn-default">Save draft</button>
			<button type="submit" class="btn btn-default">Preview job</button>
			<button type="submit" class="btn btn-primary">Post job</button>

		</form>
	</div>

	<div class="col-md-5 col-md-offset-1">
		<div class="alert alert-warning">
			<h4>PLEASE NOTE</h4>
			<p>Any opportunities advertised on the LCF FirstMove website which are unpaid and not part of student accredited short term work experience and long term work placements will be removed immediately by the LCF Careers team.</p>
			<p>All other opportunities must be paid at a rate of at least National Minimum Wage (NMW). For more information on the current NMW rate please go to - <a href="https://www.gov.uk/national-minimum-wage-rates" target="_blank">https://www.gov.uk/national-minimum-wage-rates</a>. By registering you are agreeing to cooperate with this guideline whilst recruiting through <a href="http://www.lcffirstmove.co.uk">www.lcffirstmove.co.uk</a>.</p>
		</div>

	</div>
</div>
