---
layout: admin-bootstrap
title: Recruiter - Post New Job
persona: recruiter
notes: If the recruiter does not yet have an account, the password fields will be displayed at the bottom of this form, and the act of either saving a draft, or previewing and posting, will create an account for them.
---

<div class="page-header">
	<h1>Create your job listing</h1>
</div>

<div class="row">

	<div class="col-md-6 add-bottom">
		
		<div class="alert alert-info state--logged-out">
			<p>Already signed up? <a href="sign-in.html">Log in</a> now to speed things up. If you don't have an account - don't worry, we'll get to that shortly.</p>
		</div>
		
		<form role="form" action="recruiter-job-preview.html" data-populate="recruiter">
			<fieldset class="form-horizontal add-bottom">
				{% include _job-details.html %}
			</fieldset>
			<fieldset class="form-horizontal add-bottom">
				{% include _company-details.html %}
			</fieldset>
			{% include _file-attachments-upload.html %}

			{% include _contact-details.html %}

			{% include _account-password.html %}

			{% include _accept-terms.html %}

			<a href="recruiter-edit-job.html#updated" class="btn btn-default">Save as draft</a>
			<button type="submit" class="btn btn-primary">Preview and post</button>
			<!-- <a href="recruiter-post-job-error.html" class="btn btn-danger">Test account error</a> -->

		</form>
	</div>

	<div class="col-md-5 col-md-offset-1">
		<div class="alert alert-warning">
			<h4>Please note</h4>
			<p>Any opportunities advertised on the LCF Careers Live website that are unpaid and not part of accredited short term work experience or a long term work placement will be removed immediately by the LCF Careers team.</p>
			<p>All other opportunities must be paid at a rate of at least National Minimum Wage (NMW). For more information on the current NMW rate please go to - <a href="https://www.gov.uk/national-minimum-wage-rates" target="_blank">https://www.gov.uk/national-minimum-wage-rates</a>. By registering you are agreeing to cooperate with these guidelines.</p>
		</div>
	</div>
</div>
