---
layout: admin-bootstrap
title: Recruiter - view my jobs
---

<div class="page-header">
	<h1>All jobs</h1>
</div>

<div class="row">
	<div class="col-md-4 add-bottom">
		<a href="recruiter-post-job.html" class="btn btn-default">Post a job</a>
	</div>
    <div class="col-md-4 pull-right">
		<div class="input-group">
  			<input type="text" class="form-control">
			<span class="input-group-btn">
			<button class="btn btn-default" type="button">Search</button>
			</span>
		</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
</div>

<ul class="job-list no-bullet">
	{% include _list-three-jobs.html %}
</ul>