---
layout: admin-bootstrap
title: Recruiter - Job Preview
persona: recruiter
---

<div class="page-header">
	<h1>Your job</h1>
</div>

<div class="row populate" data-populate="job">
	
	<div class="col-md-7 add-bottom">
		<div class="row">
			<div class="col-md-12 add-bottom">
				<h2 data-id="jobTitle"></h2>
				<p class="lead" data-id="jobSummary"></p>
				<p data-id="jobDescription"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form role="form" action="recruiter-post-success.html">
					<a href="recruiter-edit-job.html?logged-in=recruiter" class="btn btn-default">Edit</a>
					<button type="submit" class="btn btn-primary">Post job</button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-md-offset-1">
		<div class="panel panel-default populate" data-populate="job">
			{% include _job-details-mini.html %}
		</div>
		<div class="panel panel-default personal-details-widget">
			<div class="panel-heading">
				<h3 class="panel-title">Attachments</h3>
			</div>
			<table class="table">
				<tr><td><a href="#">Zaeem-Jamal-company-profile.pdf</a></td></tr>
				<tr><td><a href="#">Extended-job-description.pdf</a></td></tr>
			</table>
		</div>

	</div>
		

</div>
