---
layout: admin-bootstrap
title: Recruiter - Edit Job
persona: recruiter
notes: Basic TinyMCE editor (simply to process line breaks as p tags) required for textarea. If this job is in draft, the success message will use _message-save-draft.html. If it's already live, we use _message-job-update.html.
---

<div class="page-header">
	<h1>Edit job</h1>
</div>

<div class="row">

	{% include _message-save-draft.html %}
	
	<div class="col-md-6">

		<form role="form" action="recruiter-job-preview.html">
			<fieldset class="form-horizontal add-bottom populate" data-populate="job">
				{% include _job-details.html %}
			</fieldset>
			<fieldset class="form-horizontal add-bottom populate" data-populate="recruiter">
				{% include _company-details.html %}
			</fieldset>	

			{% include _job-attachments-upload.html %}

			<a href="#updated" class="btn btn-default">Save as draft</a>
			<button type="submit" class="btn btn-primary">Preview and post</button>

		</form>
	</div>

	<div class="col-md-5 col-md-offset-1">
		<div class="alert alert-warning">
			<p>You are welcome to modify live jobs. However, please keep in mind that further email alerts for this listing will not be sent to subscribed job seekers. If you wish to substantially change a job listing, our advice would be to expire this job and create a new one.</p>
		</div>

	</div>
</div>
