---
layout: admin-bootstrap
title: Recruiter - Post New Job Error
persona: recruiter
notes: Please use this as the template for all form error messages.
---

<div class="page-header">
	<h1>Error</h1>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="alert alert-danger populate" data-populate="recruiter">
			<p><strong>You have the following errors in your submission:</strong></p><br>
			<ul class="add-bottom">
				<li>The email address <span data-id="emailAddress"></span> already has an account in this system.</li>
				<li>You must fill out the Job Title field.</li>
				<li>You have exceeded the file size limits for an individual file attachment.</li>
			</ul>
			<br>
			<p>Please go back and fix these errors, then re-submit the form. Thanks!</p>
		</div>

	</div>
</div>