---
layout: admin-bootstrap
title: Sign In
persona: all
---

<div id="loginBox" class="login-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info" >
		<div class="panel-heading">
			<div class="panel-title">Sign In</div>
			<div class="panel-title-link"><a href="#" onclick="$('#loginBox').hide(); $('#passwordResetBox').show()">Forgot password?</a></div>
		</div>

		<div class="panel-body">

			<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

			<form id="loginform" class="form-horizontal" role="form">

				<div class="input-group add-bottom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Email address">
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input id="login-password" type="password" class="form-control" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="checkbox">
							<label>
								<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<a id="btn-login" href="jobs-list.html?logged-in=true" class="btn btn-success">Sign in</a>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 control">
						<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
							Don't have an account? 
						<a href="sign-up.html">
							Sign up here
						</a>
						</div>
					</div>
				</div>
			</form>

		</div><!-- .panel-body -->
	</div><!-- .panel -->
</div><!-- #loginbox -->

<div id="passwordResetBox" style="display:none;" class="login-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Password reset</div>
			<div class="panel-title-link"><a href="#" onclick="$('#passwordResetBox').hide(); $('#loginBox').show()">Sign In</a></div>
		</div>
		<div class="panel-body">

			<form id="signupform" class="form-horizontal" role="form">
			
				<div class="input-group add-bottom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Email address">
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<button id="btn-signup" type="button" class="btn btn-default">Send reset instructions</button>
					</div>
				</div>

			</form>
		 </div><!-- .panel-body -->
	</div><!-- .panel -->
</div><!-- .#passwordResetBox -->
	