---
layout: admin-bootstrap
title: Sign Up
persona: all
---

<div id="loginbox" class="login-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
			<div class="panel panel-info" >
					<div class="panel-heading">
						<div class="panel-title">Create an account</div>
					</div>     

					<div class="panel-body" >

						<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
	
							<form id="signupform" class="form-horizontal" action="job-seeker-sign-up.html" role="form">
								
								<div id="signupalert" style="display:none" class="alert alert-danger">
									<p>Error:</p>
									<span></span>
								</div>
								
								<div class="form-group">
									<label class="col-md-3 control-label">I am a:</label>
									<div class="col-md-9 account-select">
										<label class="radio-inline">
											<input type="radio" name="accountType" id="accountJobSeeker" value="yes"> Job seeker
										</label>
										<label class="radio-inline">
											<input type="radio" name="accountType" id="accountRecruiter" value="yes"> Recruiter
										</label>
									</div>
								</div>

								<div class="form-group sign-up-optional sign-up-ldap">
					                <label class="col-md-3 control-label">I have an arts.ac.uk email address:</label>
					                <div class="col-md-9">
					                    <label class="radio-inline">
					                        <input type="radio" name="LDAPCheck" id="LDAPAccountYes" value="yes"> Yes
					                    </label>
					                    <label class="radio-inline">
					                        <input type="radio" name="LDAPCheck" id="LDAPAccountNo" value="no"> No
					                    </label>
					                    <span class="help-block">If you have an arts.ac.uk email address, please use this to sign up.</span>
					                </div>
					            </div>
							
								<div class="form-group sign-up-optional sign-up-email">
									<label for="email" class="col-md-3 control-label">Email</label>
									<div class="col-md-9">
										<input type="text" class="form-control" name="email" placeholder="Email Address">
									</div>
								</div>

								<div class="form-group sign-up-optional sign-up-password">
									<label for="email" class="col-md-3 control-label">Password</label>
									<div class="col-md-9">
										<input type="text" class="form-control" name="LDAPPassword" placeholder="Password">
										<span class="help-block">Your University network password</span>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-offset-3 col-md-9">
										<button id="btn-signup" type="submit" class="btn btn-info">Sign Up</button>  
									</div>
								</div>

							</form>


						</div>                     
					</div>  
		</div>
	   
	</div>
	