---
layout: admin-bootstrap
title: Sign Up
persona: all
breadcrumb: false
---

<div class="login-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-primary" >
		<div class="panel-heading">
			<div class="panel-title">Create an account</div>
		</div>

		<div class="panel-body" >
	
			<form id="signupform" class="form-horizontal" role="form">
								
				<div class="form-group">
					<label class="col-md-3 control-label">I am a:</label>
					<div class="col-md-9 account-select">
						<label class="radio-inline">
							<input type="radio" name="logged-in" id="accountJobSeeker" value="job_seeker"> Job seeker
						</label>
						<label class="radio-inline">
							<input type="radio" name="logged-in" id="accountRecruiter" value="recruiter"> Recruiter
						</label>
					</div>
				</div>

				<div class="alert alert-info sign-up-optional sign-up-ldap" role="alert">Please note LCF Careers Live is not a public service. It is open to current and past students from London College of Fashion.</div>

				<div class="form-group sign-up-optional sign-up-ldap">
					<label class="col-md-3 control-label">I have an arts.ac.uk email address:</label>
					<div class="col-md-9">
						<label class="radio-inline">
							<input type="radio" name="LDAPCheck" id="LDAPAccountYes" value="yes"> Yes
						</label>
						<label class="radio-inline">
							<input type="radio" name="LDAPCheck" id="LDAPAccountNo" value="no"> No
						</label>
						<span class="help-block">If you have an arts.ac.uk email address, please use this to sign up.</span>
					</div>
				</div>
			
				<div class="form-group sign-up-optional sign-up-email">
					<label for="email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="email">
					</div>
				</div>

				<div class="form-group sign-up-optional sign-up-ldap-password">
					<label for="LDAPPassword" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="LDAPPassword">
						<span class="help-block">Your University network password</span>
					</div>
				</div>

				<div class="form-group sign-up-optional sign-up-normal-password">
					<label for="normalPassword" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="normalPassword">
					</div>
				</div>
				<div class="form-group sign-up-optional sign-up-normal-password">
					<label for="normalPasswordConfirm" class="col-md-3 control-label">Re-enter password</label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="normalPasswordConfirm" >
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<a id="job-seeker-sign-up-button" class="btn btn-primary sign-up-optional" href="job-seeker-account-create.html?logged-in=job_seeker">Sign Up</a>  
						<a id="recruiter-sign-up-button" class="btn btn-primary sign-up-optional" href="recruiter-post-job.html">Sign Up</a> 
					</div>
				</div>

			</form>

		</div><!-- .panel-body -->
	</div><!-- .panel -->
</div><!-- .login-box -->
