---
layout: admin-bootstrap
title: Sign Up Success
persona: all
---

<div class="page-header">
	<h1>Welcome</h1>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="alert alert-success">
			<p><strong>Success!</strong> You have created an account.</p>
		</div>
		
		<h3>What happens next?</h3>

		<div class="hidden-control recruiter-control">
			<p>Next steps for recruiters</p>
		</div>
		<div class="hidden-control job_seeker-control">
			<p>Next steps for job seekers:</p>
			<a class="btn" href="job-seeker-account-edit.html"
		</div>
	</div>


</div>
